<section class="main-content">
    <h1>Admin</h1>
    <ul id="admin-nav">
        <li><a href="/admin/artists">Manage Artists</a></li>
        <li><a href="/admin/exhibitions">Manage Exhibitions</a></li>
    </ul>
</section>