<section class="main-content">
    <h1>Manage Artists</h1>
    
    <ul class="artist-list">
    ✚ <a href="/admin/artists/new" id="new-artist-link"> add new artist</a>
        <% for artist in @artists %>
            <li class="artist-in-list">
                <%= artist.name %> 
                <a href="/admin/artists/<%= artist.id %>/edit" class="edit-link"> ✎ </a>
                <form class="delete-form" method="POST" action="/admin/artists/<%= artist.id %>/delete">
                    <input type="submit" value="❌" class="delete-button">
                </form>
            </li>
        <% end %>
    </ul>
    <a href="/admin">back 2 Admin</a>

</section>