<section class="main-content visitor exhibition-list">
  <h1 class="page-title"><%= @artist.name %></h1>
  <p> Born <%= @artist.year_born %> </p>
  <p> Based in <%= @artist.hometown %> </p>

</section>
