<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>source room gallery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <% @current_exhibitions = Exhibition.all()[0..2] %>
    <header>
        <h2><a href="/">source room</a></h2>
    </header>
        <sidebar>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/exhibitions">Exhibitions</a>
                        <ul id="current-exhibitions">
                        <% for show in @current_exhibitions %>
                            <li>
                                <a href="/exhibitions/<%= show.id %>"><%= show.title %></a>
                            </li>
                        <% end %>
                            <li>
                                <a id="exhibitons-archive-link" href="/exhibitions">archive</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Artists</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </nav>
        </sidebar>
    <main>
        <%= yield %>
    </main>

    <!-- NO JS: <script src="" async defer></script> -->
</body>

</html>