body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    background-color: black;
    color: white;
    transition: color 3s;
    margin: 0;
}

a {
    color: white;
}

header {
    position: fixed;
    margin: 10px auto;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 90vw;
    height: fit-content;
}

header h2 {
    text-align: center;
    transition: ease 3s;
    margin: 5px;
}

header h2 a {
    text-decoration: white;
}

header:hover {
    letter-spacing: 16pt;
}

sidebar {
    position: fixed;
}

nav {
    width: fit-content;
    line-height: 1.3;
    font-size: 32pt;
    letter-spacing: 1pt;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
    transition: 0.4s ease;
}

#current-exhibitions {
    display: none;
    font-size: 14pt;
    /* transition: 1s ease; */
}

#current-exhibitions a {
    text-transform: none;
}

#current-exhibitions:hover {
    display: block;
}

#exhibitons-archive-link {
    color: pink;
    font-style: italic;
    text-transform: capitalize;
}

nav:hover a {
    opacity: 0.3;
}

nav a:hover {
    opacity: 1;;
}

nav a:hover + #current-exhibitions {
    opacity: 1;;
    display: block;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.single-page-image {
    display: block;
    margin: 10vh auto;
    width: 60vw;
    height: 40vw;
}

.main-content {
    position: relative;
    top: 30px;
    left: 280px;
    width: 40vw;
    font-size: 16pt;
    line-height: 1.5;
}

#admin-nav li {
    list-style-type: none;
}

#new-link {
    text-decoration: underline;
}

.artist-list {
    margin-top: 0;
}

.artist-list a {
    color: white;
    text-decoration: none;
}

.edit-link {
    font-size: 26pt;
    text-decoration: none;
}


.artist-in-list {
    list-style-type: none;
}

.artist-form {
    display: flex;
    flex-direction: column;
}

.artist-form input {
    margin: 10px;
    font-size: 22pt;
}
.artist-form .text-field {
    height: 22pt;
    font-size: 22pt;
}

.year-field {
    width: 140px;
}

.form-label-group {
    display: flex;
    flex-direction: row;
}

.form-label-group label{
    margin-left: 20px;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.submit-button {
    background-color: black;
    border: solid 3px white;
    color: white;
    text-align: center;
    font-size: 20pt;
    width: 80px;
    height: 40px;
}

.delete-form {
    display: inline;
}

.delete-button {
    background: none;
    border: none;
    font-size: 18pt;
}

.exhibition-in-list {
    list-style-type: none;
}